ENV
DEBUG
SECRET_KEY
ALGORITHM

# should not be available at production
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db

ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_DAYS

R2_ACCOUNT_ID
R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY

RAW_VIDEOS_BUCKET
PROCESSED_VIDEOS_BUCKET
THUMBNAILS_BUCKET
CATEGORY_IMAGE_BUCKET

RAW_VIDEOS_BUCKET_DEV_URL
THUMBNAILS_BUCKET_DEV_URL
CATEGORY_IMAGE_BUCKET_DEV_URL
PROCESSED_VIDEOS_BUCKET_DEV_URL
