ENV=
DEBUG=
SECRET_KEY=
ALGORITHM=

# needed by FastAPI application
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db

# needed by PostgreSQL container
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# POSTGRES_DB=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

RAW_VIDEOS_BUCKET=
PROCESSED_VIDEOS_BUCKET=
THUMBNAILS_BUCKET=
CATEGORY_IMAGE_BUCKET=

RAW_VIDEOS_BUCKET_DEV_URL=
THUMBNAILS_BUCKET_DEV_URL=
CATEGORY_IMAGE_BUCKET_DEV_URL=
PROCESSED_VIDEOS_BUCKET_DEV_URL=

# redis is the docker compose service name for redis, so we can use it as hostname.
REDIS_URL=redis://redis:6379/0
FLOWER_BASIC_AUTH=admin:some-long-random-password
