ENV=production
DEBUG=false

POSTGRES_HOST=VPC HOST e.g., 10.116.0.5
POSTGRES_PORT=5432
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DB=...

CELERY_BROKER_URL=redis://<VPC IP FOR THE DROPLET>:6379/0

DATABASE_URL=postgresql+asyncpg://video_user:VERY_SECRET_PASSWORD@<VPC IP FOR THE DROPLET>:5432/video_db

REDIS_URL=redis://<VPC IP FOR THE DROPLET e.g., 10.116.0.5>:6379/0

R2_ENDPOINT_URL=https://<account-id>.r2.cloudflarestorage.com
R2_ACCOUNT_ID=...
R2_ACCESS_KEY_ID=...
R2_SECRET_ACCESS_KEY=...

RAW_VIDEOS_BUCKET=...
PROCESSED_VIDEOS_BUCKET=...
THUMBNAILS_BUCKET=...
CATEGORY_IMAGE_BUCKET=...

VPC_IP=
